.vscode
.pylitrc
__pycache__
/ProjectNotes
/static
/recipe_covers
manage.py
homedb.sqlite3
settings.py
migrations
Pipfile
Pipfile.lock
package-lock.json
node_modules
*main.js
.gcloudignore
app.yaml
main.py
*main.js.LICENSE.txt