<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>Home Central</title>
    <!-- <link rel="shortcut icon" href="{% static "front_end/images/favicon-32x32.png" %}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&display=swap" />
    <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}" />
    <style>
    </style>
  </head>
  <body style="margin: 0px;font-family: Open Sans;">
    <div id="app">
        <!-- React will load here -->
    </div>
    
    <!-- Main -->
    <script src="{% static "front_end/main.js" %}"></script>
  </body>

</html>